# Logistic Regression on Social Network Ads Dataset

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv(r'C:\Users\My PC\Desktop\social.csv')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
User ID            400 non-null int64
Gender             400 non-null object
Age                400 non-null int64
EstimatedSalary    400 non-null int64
Purchased          400 non-null int64
dtypes: int64(4), object(1)
memory usage: 15.7+ KB

## Exploratory Data Analysis

In [3]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
dataset.tail()

      User ID  Gender  Age  EstimatedSalary  Purchased
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

In [6]:
dataset.isnull().values.any()

False

## Dataset Splitting

In [9]:
X=dataset.iloc[:,[2,3]].values
Y=dataset.iloc[:,4].values

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.30)

In [14]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

## Implementing Logistic Regression

In [15]:
from sklearn.linear_model import LogisticRegression
LR=LogisticRegression()

In [16]:
LR.fit(X_train,Y_train)
Y_pred=LR.predict(X_test)

C:\Users\My PC\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [17]:
from sklearn.metrics import classification_report
print("The classification report is as follows: \n" )
print(classification_report(Y_test,Y_pred))

The classification report is as follows:

              precision    recall  f1-score   support

           0       0.80      0.97      0.88        73
           1       0.94      0.62      0.74        47

    accuracy                           0.83       120
   macro avg       0.87      0.79      0.81       120
weighted avg       0.85      0.83      0.82       120

In [20]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, Y_pred)
cm

array([[71,  2],
       [18, 29]], dtype=int64)